In [1]:
1+2

3

In [2]:
x=2
y=3
x+y

5

In [3]:
x

2

In [4]:
def addition_of_numbers(x,y):
    return(x-y)
addition_of_numbers(5,8)

-3

In [5]:
def addition_of_numbers(x,y,z=None):
    if(z==None):
        return x+y
    else: return x+y+z
addition_of_numbers(2,3,5)

10

In [6]:
addition_of_numbers(2,3)

5

In [7]:
print(addition_of_numbers(2,3))

5

In [8]:
def operation(x,y,z=None,Operand=''):
    if(Operand=='add'):
        return(x+y+z)
    else:
        return x-y-z
operation(1,2,3,Operand='add')

6

In [9]:
def maths(a,b,c=None,operation=''):
    if(c==None):
        if(operation=='add'):
            print('Addition')
            return (a+b)
        if(operation=='subtract'):
            return a-b
        if(operation=='multiply'):
            return a*b
        if(operation=='divide'):
            return a/b
        else:
            print('INVALID')
    else:
        if(operation=='add'):
            print('Addition')
            return (a+b+c)
        if(operation=='subtract'):
            return a-b-c
        if(operation=='multiply'):
            return a*b*c
        if(opeartion=='divide'):
            return a/b/c
        else:
            print('INVALID')
print(maths(1,10,operation='add'))

Addition
11

In [10]:
maths(1,2,3,operation='add')

Addition

6

In [11]:
type(addition_of_numbers)

function

In [12]:
type(1)

int

In [13]:
type(1.555555)

float

In [14]:
type(maths)

function

In [15]:
x=(1,'a',2,'b')
type(x)

tuple

In [16]:
y=[1,'a',2,'c']
type(y)

list

In [17]:
y.append('d')
print(y)

[1, 'a', 2, 'c', 'd']

In [18]:
for item in x:
    print(item)

1
a
2
b

In [19]:
i=0
while(i!=len(x)):
    print(x[i])
    i+=1

1
a
2
b

In [20]:
for item in x:
    print(item)

1
a
2
b

In [21]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [22]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

In [23]:
1 in x

True

In [24]:
x='This is a string'
print(x[0])
print(x[1])
print(x[0:1])
print(x[0:2])
print (x[0:8])

T
h
T
Th
This is

In [25]:
x[-4:-2]

'ri'

In [26]:
x[:4]

'This'

In [27]:
x[0:]

'This is a string'

In [28]:
y="Dr.Christopher Brooks"
y[0]

'D'

In [29]:
y[3:14]

'Christopher'

In [30]:
firstname='Rouank'
lastname='Naryani'
print(firstname+' '+lastname)

Rouank Naryani

In [31]:
print(firstname*3)

RouankRouankRouank

In [32]:
print((firstname+' '+lastname)*3)

Rouank NaryaniRouank NaryaniRouank Naryani

In [33]:
'R' in firstname

True

In [34]:
'Rounak' in firstname

False

In [35]:
'Rouank'in firstname

True

In [36]:

name='Rounak Vinod Naryani'.split(' ')[0]
print(name)

Rounak

In [37]:
collegename='Institute of Chemical Technology'.split(' ')[3]
print(collegename)

Technology

In [38]:
college='Institute_of_Chemical_Technology'.split('_')[0]
print(college)

Institute

In [39]:
for name in college:
    print(name)

I
n
s
t
i
t
u
t
e

In [40]:
for name in x:
    print(name)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [41]:
x={'Rounak Naryani':'rounakv.naryani@gmail.com','Gourang Naryani':'g.naryani@gmail.com'}
print(x['Rounak Naryani'])

rounakv.naryani@gmail.com

In [42]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [43]:
for name in x:
    print(name)

Rounak Naryani
Gourang Naryani
Kevyn Collins-Thompson

In [44]:
x='This is a string'
print(x)

This is a string

In [45]:
for name in x:
    print(x)

This is a string
This is a string
This is a string
This is a string
This is a string
This is a string
This is a string
This is a string
This is a string
This is a string
This is a string
This is a string
This is a string
This is a string
This is a string
This is a string

In [46]:
for name in x:
    print(name)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [47]:
x={'Rounak Naryani':'rounakv.naryani@gmail.com','Gourang Naryani':'g.naryani@gmail.com'}
for name in x:
    print(x[name])

rounakv.naryani@gmail.com
g.naryani@gmail.com

In [48]:
x['Poonam Naryani']=None
print(x)

{'Rounak Naryani': 'rounakv.naryani@gmail.com', 'Gourang Naryani': 'g.naryani@gmail.com', 'Poonam Naryani': None}

In [49]:
for name in x:
    print(x)

{'Rounak Naryani': 'rounakv.naryani@gmail.com', 'Gourang Naryani': 'g.naryani@gmail.com', 'Poonam Naryani': None}
{'Rounak Naryani': 'rounakv.naryani@gmail.com', 'Gourang Naryani': 'g.naryani@gmail.com', 'Poonam Naryani': None}
{'Rounak Naryani': 'rounakv.naryani@gmail.com', 'Gourang Naryani': 'g.naryani@gmail.com', 'Poonam Naryani': None}

In [50]:
for name in x:
    print(x)

{'Rounak Naryani': 'rounakv.naryani@gmail.com', 'Gourang Naryani': 'g.naryani@gmail.com', 'Poonam Naryani': None}
{'Rounak Naryani': 'rounakv.naryani@gmail.com', 'Gourang Naryani': 'g.naryani@gmail.com', 'Poonam Naryani': None}
{'Rounak Naryani': 'rounakv.naryani@gmail.com', 'Gourang Naryani': 'g.naryani@gmail.com', 'Poonam Naryani': None}

In [51]:
for n in x:
    print(x)

{'Rounak Naryani': 'rounakv.naryani@gmail.com', 'Gourang Naryani': 'g.naryani@gmail.com', 'Poonam Naryani': None}
{'Rounak Naryani': 'rounakv.naryani@gmail.com', 'Gourang Naryani': 'g.naryani@gmail.com', 'Poonam Naryani': None}
{'Rounak Naryani': 'rounakv.naryani@gmail.com', 'Gourang Naryani': 'g.naryani@gmail.com', 'Poonam Naryani': None}

In [52]:
for name,email in x.items():
    print(name)
    print(email)

Rounak Naryani
rounakv.naryani@gmail.com
Gourang Naryani
g.naryani@gmail.com
Poonam Naryani
None

In [53]:
for name in x:
    print(x[name])

rounakv.naryani@gmail.com
g.naryani@gmail.com
None

In [54]:
k=('Rounak Naryani','Institute of Chemical Technology','Bachelor of Chemical Engineering')
name,college,branch=k
name

'Rounak Naryani'

In [55]:
f='My name is Rounak'
for name in f:
    print(name)

M
y

n
a
m
e

i
s

R
o
u
n
a
k

In [56]:
i=0
while(i!=len(f)):
    print(f[i])
    i+=1

M
y

n
a
m
e

i
s

R
o
u
n
a
k

In [57]:
print('Rounak'+'   2')

Rounak   2

In [58]:
x=[1,'Rounak Naryani',100]
roll_No,Name,Marks=x
roll_No

1

In [59]:
College_record={'Person':'Rounak Naryani','Total':500,'marks':450}
result='{}    scored {} marks in 4 semesters which count to {} percentage in total'
print(result.format(College_record['Person'],College_record['marks'],College_record['marks']*100/College_record['Total']))

Rounak Naryani    scored 450 marks in 4 semesters which count to 90.0 percentage in total

In [60]:
import pandas as pd
df=pd.read_csv(r'D:\SampleDb\sample.csv')
print(df)

    Series reference          Period  \
0            2019.09  PPIQ.SQN800000
1            2019.12  PPIQ.SQN800000
2            2019.09  PPIQ.SQN800001
3            2019.12  PPIQ.SQN800001
4            2019.09  PPIQ.SQN900000
..               ...             ...
62           2019.12  PPIQ.SQUCC1300
63           2019.09  PPIQ.SQUCC1310
64           2019.12  PPIQ.SQUCC1310
65           2019.12  PPIQ.SQUCC3200
66           2019.12  PPIQ.SQUCC3210

                                          Description  Revised  \
0   All industries excl admin health educati, Inpu...     1167
1   All industries excl admin health educati, Inpu...     1170
2   All industries ex admin health edu OOD, Inputs...     1167
3   All industries ex admin health edu OOD, Inputs...     1170
4            All industries, Inputs Indexes (Level 0)     1166
..                                                ...      ...
62  Dairy Product Manufacturing, Outputs Indexes (...     1220
63  Dairy Product Manufacturing, Outputs Indexes (...     1243
64  Dairy Product Manufacturing, Outputs Indexes (...     1220
65  Pulp, Paper and Converted Paper Product, Outpu...     1015
66  Pulp, Paper and Converted Paper Product Manufa...     1015

    Initially published
0                  1164
1                  1166
2                  1164
3                  1166
4                  1164
..                  ...
62                 1217
63                 1241
64                 1217
65                 1014
66                 1014

[67 rows x 5 columns]

In [61]:
import csv
%precision 2
with open('D:\SampleDb\sample.csv') as csvfile:
    data=list(csv.DictReader(csvfile))
data[:3]

[OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQN800000'),
              ('Description',
               'All industries excl admin health educati, Inputs Indexes (Level 0)'),
              ('Revised', '1167'),
              ('Initially published', '1164')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQN800000'),
              ('Description',
               'All industries excl admin health educati, Inputs Indexes (Level 0)'),
              ('Revised', '1170'),
              ('Initially published', '1166')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQN800001'),
              ('Description',
               'All industries ex admin health edu OOD, Inputs Indexes (Level 0)'),
              ('Revised', '1167'),
              ('Initially published', '1164')])]

In [62]:
import csv
%precision 2
with open('D:\SampleDb\sample.csv') as csvfile:
    df=list(csv.DictReader(csvfile))
df

[OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQN800000'),
              ('Description',
               'All industries excl admin health educati, Inputs Indexes (Level 0)'),
              ('Revised', '1167'),
              ('Initially published', '1164')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQN800000'),
              ('Description',
               'All industries excl admin health educati, Inputs Indexes (Level 0)'),
              ('Revised', '1170'),
              ('Initially published', '1166')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQN800001'),
              ('Description',
               'All industries ex admin health edu OOD, Inputs Indexes (Level 0)'),
              ('Revised', '1167'),
              ('Initially published', '1164')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQN800001'),
              ('Description',
               'All industries ex admin health edu OOD, Inputs Indexes (Level 0)'),
              ('Revised', '1170'),
              ('Initially published', '1166')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQN900000'),
              ('Description', 'All industries, Inputs Indexes (Level 0)'),
              ('Revised', '1166'),
              ('Initially published', '1164')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQN900000'),
              ('Description', 'All industries, Inputs Indexes (Level 0)'),
              ('Revised', '1169'),
              ('Initially published', '1165')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQN900001'),
              ('Description',
               'All industries excl OOD, Inputs Indexes (Level 0)'),
              ('Revised', '1166'),
              ('Initially published', '1163')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQN900001'),
              ('Description',
               'All industries excl OOD, Inputs Indexes (Level 0)'),
              ('Revised', '1169'),
              ('Initially published', '1165')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNAA0000'),
              ('Description',
               'Agriculture, Forestry and Fishing, Inputs Indexes (Level 1)'),
              ('Revised', '1207'),
              ('Initially published', '1206')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNAA2000'),
              ('Description',
               'Forestry and Logging, Inputs Indexes (Level 2)'),
              ('Revised', '1217'),
              ('Initially published', '1208')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNAA2100'),
              ('Description',
               'Forestry and Logging, Inputs Indexes (Level 3)'),
              ('Revised', '1217'),
              ('Initially published', '1208')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNAA211X'),
              ('Description',
               'Forestry and Logging, Inputs Indexes (Level 4)'),
              ('Revised', '1217'),
              ('Initially published', '1208')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQNCC0000'),
              ('Description', 'Manufacturing, Inputs Indexes (Level 1)'),
              ('Revised', '1154'),
              ('Initially published', '1144')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNCC0000'),
              ('Description', 'Manufacturing, Inputs Indexes (Level 1)'),
              ('Revised', '1162'),
              ('Initially published', '1149')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQNCC1000'),
              ('Description',
               'Food, Beverage and Tobacco Product Manuf, Inputs Indexes (Level 2)'),
              ('Revised', '1203'),
              ('Initially published', '1184')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNCC1000'),
              ('Description',
               'Food, Beverage and Tobacco Product Manuf, Inputs Indexes (Level 2)'),
              ('Revised', '1232'),
              ('Initially published', '1208')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQNCC1300'),
              ('Description',
               'Dairy Product Manufacturing, Inputs Indexes (Level 3)'),
              ('Revised', '1131'),
              ('Initially published', '1094')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNCC1300'),
              ('Description',
               'Dairy Product Manufacturing, Inputs Indexes (Level 3)'),
              ('Revised', '1162'),
              ('Initially published', '1116')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQNCC131X'),
              ('Description',
               'Dairy Product Manufacturing, Inputs Indexes (Level 4)'),
              ('Revised', '1131'),
              ('Initially published', '1094')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNCC131X'),
              ('Description',
               'Dairy Product Manufacturing, Inputs Indexes (Level 4)'),
              ('Revised', '1162'),
              ('Initially published', '1116')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNCC1400'),
              ('Description',
               'Fruit, Oil, Cereal and Other Food Produc, Inputs Indexes (Level 3)'),
              ('Revised', '1138'),
              ('Initially published', '1137')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNCC141X'),
              ('Description',
               'Fruit, Oil, Cereal and Other Food Product Manufact, Inputs Indexes (Level 4)'),
              ('Revised', '1138'),
              ('Initially published', '1137')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNCC3000'),
              ('Description',
               'Wood and Paper Products Manufacturing, Inputs Indexes (Level 2)'),
              ('Revised', '1150'),
              ('Initially published', '1139')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNCC3100'),
              ('Description',
               'Wood Product Manufacturing, Inputs Indexes (Level 3)'),
              ('Revised', '1179'),
              ('Initially published', '1166')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNCC311X'),
              ('Description',
               'Wood Product Manufacturing, Inputs Indexes (Level 4)'),
              ('Revised', '1179'),
              ('Initially published', '1166')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNCC3200'),
              ('Description',
               'Pulp, Paper and Converted Paper Product, Inputs Indexes (Level 3)'),
              ('Revised', '1108'),
              ('Initially published', '1100')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQNCC321X'),
              ('Description',
               'Pulp, Paper and Converted Paper Product Manufactur, Inputs Indexes (Level 4)'),
              ('Revised', '1108'),
              ('Initially published', '1100')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQU900000'),
              ('Description', 'All industries, Outputs Indexes (Level 0)'),
              ('Revised', '1179'),
              ('Initially published', '1178')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQU900000'),
              ('Description', 'All industries, Outputs Indexes (Level 0)'),
              ('Revised', '1185'),
              ('Initially published', '1183')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQU900001'),
              ('Description',
               'All industries excl OOD, Outputs Indexes (Level 0)'),
              ('Revised', '1178'),
              ('Initially published', '1176')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQU900001'),
              ('Description',
               'All industries excl OOD, Outputs Indexes (Level 0)'),
              ('Revised', '1184'),
              ('Initially published', '1181')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUAA0000'),
              ('Description',
               'Agriculture, Forestry and Fishing, Outputs Indexes (Level 1)'),
              ('Revised', '1287'),
              ('Initially published', '1268')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA0000'),
              ('Description',
               'Agriculture, Forestry and Fishing, Outputs Indexes (Level 1)'),
              ('Revised', '1318'),
              ('Initially published', '1290')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUAA1000'),
              ('Description', 'Agriculture, Outputs Indexes (Level 2)'),
              ('Revised', '1298'),
              ('Initially published', '1273')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA1000'),
              ('Description', 'Agriculture, Outputs Indexes (Level 2)'),
              ('Revised', '1336'),
              ('Initially published', '1305')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUAA1100'),
              ('Description',
               'Horticulture and Fruit Growing, Outputs Indexes (Level 3)'),
              ('Revised', '1251'),
              ('Initially published', '1250')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA1100'),
              ('Description',
               'Horticulture and Fruit Growing, Outputs Indexes (Level 3)'),
              ('Revised', '1237'),
              ('Initially published', '1236')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUAA1110'),
              ('Description',
               'Horticulture and Fruit Growing, Outputs Indexes (Level 4)'),
              ('Revised', '1251'),
              ('Initially published', '1250')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA1110'),
              ('Description',
               'Horticulture and Fruit Growing, Outputs Indexes (Level 4)'),
              ('Revised', '1237'),
              ('Initially published', '1236')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUAA1200'),
              ('Description',
               'Sheep, Beef Cattle and Grain Farming, Outputs Indexes (Level 3)'),
              ('Revised', '1545'),
              ('Initially published', '1541')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA1200'),
              ('Description',
               'Sheep, Beef Cattle and Grain Farming, Outputs Indexes (Level 3)'),
              ('Revised', '1613'),
              ('Initially published', '1608')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUAA1210'),
              ('Description',
               'Sheep, Beef Cattle and Grain Farming, Outputs Indexes (Level 4)'),
              ('Revised', '1545'),
              ('Initially published', '1541')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA1210'),
              ('Description',
               'Sheep, Beef Cattle and Grain Farming, Outputs Indexes (Level 4)'),
              ('Revised', '1613'),
              ('Initially published', '1608')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUAA1300'),
              ('Description',
               'Dairy Cattle Farming, Outputs Indexes (Level 3)'),
              ('Revised', '1061'),
              ('Initially published', '1019')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA1300'),
              ('Description',
               'Dairy Cattle Farming, Outputs Indexes (Level 3)'),
              ('Revised', '1101'),
              ('Initially published', '1048')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUAA1310'),
              ('Description',
               'Dairy Cattle Farming, Outputs Indexes (Level 4)'),
              ('Revised', '1061'),
              ('Initially published', '1019')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA1310'),
              ('Description',
               'Dairy Cattle Farming, Outputs Indexes (Level 4)'),
              ('Revised', '1101'),
              ('Initially published', '1048')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUAA1400'),
              ('Description',
               'Poultry, Deer and Other Livestock Farmin, Outputs Indexes (Level 3)'),
              ('Revised', '1284'),
              ('Initially published', '1281')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA1400'),
              ('Description',
               'Poultry, Deer and Other Livestock Farmin, Outputs Indexes (Level 3)'),
              ('Revised', '1293'),
              ('Initially published', '1289')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUAA1410'),
              ('Description',
               'Poultry, Deer and Other Livestock Farming, Outputs Indexes (Level 4)'),
              ('Revised', '1284'),
              ('Initially published', '1281')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA1410'),
              ('Description',
               'Poultry, Deer and Other Livestock Farming, Outputs Indexes (Level 4)'),
              ('Revised', '1293'),
              ('Initially published', '1289')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA2000'),
              ('Description',
               'Forestry and Logging, Outputs Indexes (Level 2)'),
              ('Revised', '1218'),
              ('Initially published', '1184')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA2100'),
              ('Description',
               'Forestry and Logging, Outputs Indexes (Level 3)'),
              ('Revised', '1218'),
              ('Initially published', '1184')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA2110'),
              ('Description',
               'Forestry and Logging, Outputs Indexes (Level 4)'),
              ('Revised', '1218'),
              ('Initially published', '1184')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUAA3000'),
              ('Description',
               'Fishing, Aquaculture and Agriculture, Fo, Outputs Indexes (Level 2)'),
              ('Revised', '1250'),
              ('Initially published', '1249')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUAA3220'),
              ('Description',
               'Agriculture, Forestry and Fishing Support Services, Outputs Indexes (Level 4)'),
              ('Revised', '1245'),
              ('Initially published', '1244')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUC03210'),
              ('Description',
               'Logs for domestic market, LPT PPI - NA06CC higher level commodity indexes'),
              ('Revised', '1459'),
              ('Initially published', '1399')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUC03220'),
              ('Description',
               'Logs for export market, LPT PPI - NA06CC higher level commodity indexes'),
              ('Revised', '1429'),
              ('Initially published', '1395')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUCC0000'),
              ('Description', 'Manufacturing, Outputs Indexes (Level 1)'),
              ('Revised', '1166'),
              ('Initially published', '1165')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUCC1000'),
              ('Description',
               'Food, Beverage and Tobacco Product Manuf, Outputs Indexes (Level 2)'),
              ('Revised', '1258'),
              ('Initially published', '1257')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUCC1000'),
              ('Description',
               'Food, Beverage and Tobacco Product Manuf, Outputs Indexes (Level 2)'),
              ('Revised', '1264'),
              ('Initially published', '1262')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUCC1300'),
              ('Description',
               'Dairy Product Manufacturing, Outputs Indexes (Level 3)'),
              ('Revised', '1243'),
              ('Initially published', '1241')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUCC1300'),
              ('Description',
               'Dairy Product Manufacturing, Outputs Indexes (Level 3)'),
              ('Revised', '1220'),
              ('Initially published', '1217')]),
 OrderedDict([('Series reference', '2019.09'),
              ('Period', 'PPIQ.SQUCC1310'),
              ('Description',
               'Dairy Product Manufacturing, Outputs Indexes (Level 4)'),
              ('Revised', '1243'),
              ('Initially published', '1241')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUCC1310'),
              ('Description',
               'Dairy Product Manufacturing, Outputs Indexes (Level 4)'),
              ('Revised', '1220'),
              ('Initially published', '1217')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUCC3200'),
              ('Description',
               'Pulp, Paper and Converted Paper Product, Outputs Indexes (Level 3)'),
              ('Revised', '1015'),
              ('Initially published', '1014')]),
 OrderedDict([('Series reference', '2019.12'),
              ('Period', 'PPIQ.SQUCC3210'),
              ('Description',
               'Pulp, Paper and Converted Paper Product Manufactur, Outputs Indexes (Level 4)'),
              ('Revised', '1015'),
              ('Initially published', '1014')])]

In [63]:
len(csvfile)

TypeError: object of type '_io.TextIOWrapper' has no len()

In [ ]:
len(data)

In [ ]:
x='This is a string'
len(x)

In [ ]:
data[0].keys()

In [ ]:
data[0].values()

In [ ]:
x=[1,2,3]
print(x)

In [ ]:
x.append('c',15)

In [ ]:
x=[]
x.append(2)
print(x)

In [ ]:
for c in x:
    print(x)

In [ ]:
import csv
%precision 2
with open(r'C:\Users\aish\Desktop\Python Data Science\cars.csv') as cfile:
    dfm=list(csv.DictReader(cfile))
dfm

In [ ]:
dfm[0].keys()

In [ ]:
dfm[1].values()

In [ ]:
dfm[2].values()

In [ ]:
cylinder=set(d['Cylinders'] for d in dfm)

In [ ]:
dfm[0].keys()

In [ ]:
dfm[0]

In [ ]:
import csv
%precision 2
with open(r'C:\Users\aish\Desktop\Python Data Science\cereal.csv') as rfile:
    dfr=list(csv.DictReader(rfile))
dfr[0].keys()

In [ ]:
dfr[1].values()

In [ ]:
dfr[0].keys()

In [ ]:
import datetime as dt
import time as tm

In [ ]:
tm.time()

In [ ]:
dtnow=dt.datetime.fromtimestamp(tm.time())
dtnow

In [ ]:
dtnow.year,dtnow.month,dtnow.hour,dtnow.min

In [ ]:
dtnow.second

In [ ]:
today=dt.date.today()
delta=dt.timedelta(days=1)
c=today-delta
today

In [ ]:
today>c

In [ ]:
class college:
    a=5
    def mobile(self,x):
        print(x*2)
        print("This is a mobile configuration site")

mob1=college()
college.mobile(mob1,5)

In [ ]:
x=[1,2,'s']
x

In [ ]:
x.remove('s')

In [ ]:
x

In [ ]:
x=[1,2,4,5,6,7,9,7]
x

In [ ]:
x.pop(0)
x

In [ ]:
del x[2:]
x

In [ ]:
x=(1,1,1,2,2,5,4)
x.count(1)

In [ ]:
x.index(1)

In [ ]:
x.append(2)

In [ ]:
for n in x:
    print(x[n])

In [ ]:
sums=0
for n in x:
    sums=sums+x[n-1]
print(sums)

In [ ]:
x

In [ ]:
x={11:'Rounak',10:'Gourang','Ramesh':'Suresh'}
x['Ramesh']

In [ ]:
x[1]

In [ ]:
x.get(1,'Not Found')

In [ ]:
x=['Rounak','Gourang','Poonam','Vinod']
y=['student','student','homemaker','business']

In [ ]:
data=dict(zip(x,y))

In [ ]:
del data['Rounak']

In [ ]:
data

In [ ]:
prog={'Python':['spyder','jupyter'],'C':'cobol','Java':{'JEE':'netbeans','JSE':'console'}}

In [ ]:
prog

In [ ]:
prog['Python']

In [ ]:
prog['Java']

In [ ]:
prog['Java']['JSE']

In [ ]:
help()

In [ ]:
prog['Sahil']='Consultant'

In [ ]:
prog

In [ ]:
a=5

In [ ]:
id(a)

In [ ]:
b=6
id(b)

In [ ]:
a=11
id(a)

In [ ]:
b=a
id(b)

In [ ]:
b

In [ ]:
range(15)

In [ ]:
list(range(15))

In [ ]:
list(range(20))

In [ ]:
type(range(15))

In [ ]:
list(range(2,10,2))

In [ ]:
x=2
id(x)

In [ ]:
x=x+2
x

In [ ]:
id(x)

In [ ]:
n=7

In [ ]:
n

In [ ]:
id(n)

In [ ]:
n=-n

In [ ]:
n

In [ ]:
id(n)

In [ ]:
bin(10)

In [ ]:
bin(500)

In [ ]:
hex(15)

In [ ]:
oct(0b111110100)

In [ ]:
oct(500
   )

In [ ]:
0b111110

In [ ]:
a=5
b=6

In [ ]:
a=a+b
b=a-b
a=a-b
a,b

In [ ]:
a=a^b
b=a^b
a=a^b
a,b

In [ ]:
a,b=b,a
a,b

In [ ]:
bin(12)

In [ ]:
int(0b11110011)

In [ ]:
~12

In [ ]:
~-12

In [ ]:
bin(13)

In [ ]:
0b11110011

In [ ]:
0b0011

In [ ]:
~13

In [ ]:
bin(14)

In [ ]:
bin(13)

In [ ]:
bin(14)

In [ ]:
bin(12)

In [ ]:
bin(13)

In [ ]:
bin(14)

In [ ]:
0b1111

In [ ]:
~14

In [ ]:
10<<2

In [ ]:
0b101000

In [ ]:
10>>2

In [ ]:
bin(10)

In [ ]:
0b10

In [ ]:
sqrt(25)

In [ ]:
math.sqrt(25)

In [ ]:
from math import sqrt,pow

In [ ]:
sqrt(25)

In [ ]:
help('math')

In [ ]:
math.ceil(25.5)

In [ ]:
a=math

In [ ]:
type(a)

In [ ]:
a.sqrt(28)

In [ ]:
m.sqrt(25)

In [ ]:
math.sqrt(28)

In [ ]:
x=int(input("1st Number"))
y=int(input("2nd Number"))
z=x+y
print('the added number is', z)

In [ ]:
x=input('Enter your first name')[0]
y=input('Enter your last name')[0]
z=x +' '+ y
print('Tour full name is',z)

In [ ]:
result=eval(input('Put your mathematical expression'))
print(result)

In [ ]:
a=eval(input('Please input  your expression'))
if(a%2==0):
    print(a,'is even')
else:
    print(a,'is odd')

In [ ]:
2^3

In [ ]:
5^6

In [ ]:
3^6

In [ ]:
3^5

In [ ]:
if False:
    print('Hello')
else:
    print('Wrong')

In [ ]:
a=eval(input("input your expression"))
if a%2==0:
    print(a,'is even')
    if a<10:
        print(a,'is less than 10')
    else:
        print(a,'is greater than 10')
else:
    print(a,'is odd')
    if a<10:
        print(a,'is less than 10')
    else:
        print(a,'is greater than 10')

In [ ]:
i=1
while i<=5:
    print('Hello',i)
    i+=1

In [ ]:
x=[1,2,3,4,5,6,7,8,9,10]
i=0
sums=0
while(i<len(x)):
    sums+=x[i]
    i+=1
print(sums)

In [ ]:
i=1
while i<=5:
    print("hello",end="")
    i+=1
    j=1
    while j<=5:
        print("  world",end="")
        j+=1
    print()

In [ ]:
i=1
while i<=100:
    if not( i%3==0 or i%5==0):
        print(i)
    i+=1

In [ ]:
i=1
while i<=4:
    print('#',end="")
    j=1
    while j<=4:
        print('#',end="")
        j+=1
    i+=1
    print()

In [ ]:
x=['Rounak','Gourang',25,45]
for n in x:
    print(n)

In [ ]:
x={'x':2,'Rounak':'ICT','y':'Hurrah'}
print(x)

In [ ]:
for n in x:
    print(x)

In [ ]:
for n in x:
    print(n)

In [ ]:
for n in x:
    print (x[n])

In [ ]:
x='NAVIN'
for n in x:
    print(n,end='')

In [ ]:
i=0
while i<len(x):
    print(x[i])
    i+=1

In [ ]:
for i in range(20,9,-1):
    print(i)

In [ ]:

for i in range(1,21):
    if not(i%5==0):
        print(i)

In [ ]:
from math import pow
for i in range(1,501):
    if pow(i,2)<500:
        print (int(pow(i,2)))

In [ ]:
ava=5
x=int(input("Number of candies"))
i=1
while i<=x:
    if ava-x>=0:
        print('Candy')
        else:
            print("Sorry we are out of stock")
    i+=1

In [ ]:
def addi(a,b):
    return a+b

In [ ]:
addi(3,5)

In [5]:
print(__name__)

__main__